{% extends "layoutd.njk" %}

    {% block head %}
        <title>Not Found</title>
    {% endblock %}

    {% block content %}

    <div class="not-found">
    <h1>Erro 404: Não foi possivel encontrar a página solicitada</h1>
    </div>

    {% endblock %}
